.navbar
  &-menu
    &__link
      &::after
        transition: .3s all
      &:hover
        &::after
          width: 100%

.button
  transition: all .3s
  &:hover
    background: darken(#4592FF, 20%)
