.navbar
  &-menu
    &__link
      &::after
        transition: .3s all
      &:hover
        &::after
          width: 100%

.button
  transition: all .3s
  &:hover
    background: darken(#4592FF, 20%)

.footer
  &__list
    a
      display: inline-block
      transform: scale(1)
      transition: all .3s
      &:hover
        transform: scale(1.3)
    &--news
      a
        &:hover
          color: #FF4F52
    &--arts
      a
        &:hover
          color: #AC8EE3
    &--travel
      a
        &:hover
          color: #4592FF
    &--sports
      a
        &:hover
          color: #FFA34D
    &--tech
      a
        &:hover
          color: #3DC47E
    &--moneys
      a
        &:hover
          color: #6E99AE
