@media (max-width: 1200px)
  .container
    max-width: 960px
  .logo
    margin: 0 auto 0 50px
  .navbar
    &-menu
      &__link
        font-size: 13px
        line-height: 18px
  .rec
    &-top    
      font-size: 12.5px
      line-height: 23px
      &__img
        width: 55px
        height: 55px
@media (max-width: 992px)
  .container,
    max-width: 700px
  .header
    &-bottom
      &__img
        margin-left: 0
      &__loc
        max-width: 125px
        font-size: 12px
        line-height: 16px
        margin-left: 6px
      &__date
        max-width: 135px        
        font-size: 12px
        line-height: 16px
        margin-right: 15px
        margin-left: 65px
      &__weather
        flex-wrap: nowrap
      &__deg
        min-width: 40px
        font-size: 12px
        line-height: 16px
        margin-left: 7px
  .logo
    max-width: 164px
    margin: 0 auto 0 30px
  .navbar
    &-menu
      &__link
        font-size: 12px
        line-height: 16px
  .rec
    &-top    
      font-size: 11px
      line-height: 20px
      &__item
        display: flex
        flex-direction: column
        align-items: center
        &:not(:last-child)                
          margin: 0 15px 0 0
          padding-right: 15px
      &__img
        order: -1
        width: 50px
        height: 50px
      &__text
        max-width: 174px 
        margin: 7px 0 0
        text-align: center
@media (max-width: 767px)
  .container    
    width: 92%
  .header
    &-top
      justify-content: space-between
    &__divider
      &-vert
        margin: 0 9px
    &-search
      display: none    
    &-subscribe
      margin-right: auto
      // display: none
    &-login
      // display: none
    &-bottom
      justify-content: flex-start
      &__loc
        // display: none
      &__date
        display: none
      &__weather
        display: none
  .logo
    max-width: 134px    
    margin-right: 50px
    margin-left: auto    
    &--mobile
      // display: block
  .navbar
    display: none  
    &-dropdown
      // display: block
      padding-top: 15px
      &--visible
        display: block
    &-menu    
      &__item-dd
        margin-bottom: 10px
  .rec
    &-top
      padding: 25px 20px 25px
      font-size: 10.5px
      line-height: 17px
      &__item               
        &:not(:last-child)                
          margin: 0 8px 0 0
          padding-right: 8px
@media (max-width: 576px)
  .header
    &-bottom
      &__loc
        font-size: 11px
        line-height: 12px
  .rec
    &-top            
      flex-wrap: wrap
      &__item
        flex-basis: 48%        
        &:not(:last-child)
          margin: 0
        &:nth-child(2n)                
          margin: 0
          padding-right: 0
          border-right: none
        &:nth-child(n+3)
          margin-top: 15px      
      &__text
        margin-bottom: 15px          
@media (max-width: 468px)
  .header
    &-subscribe
      display: none
    &__divider
      &-vert
        margin-left: 0
        margin-right: auto
    &-bottom
      &__loc
        display: none
  .logo
    max-width: 120px    
    margin-right: auto
    margin-left: auto 



