*
  box-sizing: border-box
body
  font-family: 'Lato', sans-serif
  color: $text-grey-85
  padding-top: 50px
.title
  &-art
    font-family: 'Roboto Slab', serif
.container
  max-width: 1140px
  margin: auto  
img
  max-width: 100%
button, button:active, button:focus
  border: none
  outline: none
  cursor: pointer
input, textarea
  outline: none
