*
  box-sizing: border-box
body
  font-family: 'Lato', sans-serif
  color: $text-grey-85
  background-color: #EDEFF0
  padding-top: 50px
.title
  &-art
    font-family: 'Roboto Slab', serif
.container
  max-width: 1140px
  margin: auto
  &-2
    max-width: 946px
    margin: auto
img
  max-width: 100%
button, button:active, button:focus
  border: none
  outline: none
  cursor: pointer
button
  background-color: transparent
  padding: 0
input, textarea
  outline: none
a
  text-decoration: none
  color: inherit
.button
  padding: 10px 20px 10px 25px
  background: #4592FF
  color: $light
  min-width: 138px
  font-weight: bold
  font-size: 14px
  line-height: 20px
  border-radius: 20px
  &__arrow
    margin-left: 7px
.article
  &-title
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
  &-text
    max-width: 623px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 30px
.form
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
.invalid
  color: red
  font-size: 14px
  order: 10
.article
  background-color: $light
