.footer
  background-color: $light
  padding: 60px 0 55px
  &-subs
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    max-width: 750px
    min-height: 115px
    margin: 0 auto
    &--mb
      margin-bottom: 70px
    &__title
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 50px
      color: $text-grey-100
      margin: 0
    &__form
      // width: 442px
      height: 40px
    &__input
      min-width: 313px
      // min-height: 40px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: $text-grey-50
      border: 1px solid #D9DADB
      border-radius: 5px
      margin-right: 10px
      padding: 10px 15px
    &__button
      font-weight: bold
      font-size: 14px
      line-height: 20px
      background: #4592FF
      color: $light
      min-width: 119px
      border-radius: 20px
      padding: 10px 29px
