.header
  background-color: #FFFFFF
  &-top
    display: flex
    align-items: center
    flex-wrap: wrap
    &--fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      background-color: $light
      z-index: 99
  &-menu
    display: flex
    align-items: center
    background-color: transparent
    cursor: pointer
    &__text
      font-weight: bold
      color: $text-grey-100
      font-size: 14px
      line-height: 20px
      margin-left: 15px
  &-search
    display: flex
    align-items: center
    &__button
      max-height: 20px
      padding: 1px
      background-color: transparent
    &__input
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: $text-grey-50
      border: none
      padding: 0
      margin-left: 10px
  &-subscribe
    display: flex
    align-items: center
    align-self: flex-end
    max-width: 195px
    max-height: 44px
    margin-left: auto
    margin-right: 57px
    text-decoration: none
    color: inherit
    &__image
      display: block
      align-self: flex-end
    &__info
      display: flex
      flex-direction: column
      margin-left: 10px
    &__text
      font-weight: bold
      font-size: 12px
      line-height: 15px
      color: $text-grey-100
    &__pricetag
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $text-grey-50
  &-login
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 72px
    text-decoration: none
    color: inherit
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: $text-grey-85
  &__divider
    &-vert
      margin: 0 25px
    &-hor
      height: 1px
  &-bottom
    display: flex
    align-items: center
    &__img
      margin-left: 30px
    &__loc
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-left: 15px
    &__date
      width: 195px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-right: 23px
    &__weather
      display: flex
      align-items: center
    &__deg
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-left: 10px
.logo
  max-width: 184px
  margin: 0 auto 0 130px
  &--mobile
    display: none
.navbar
  background-color: $text-grey-100
  &-dropdown
    background-color: $text-grey-100
    // display: none
    width: 21vw
    // margin: auto
    position: fixed
    left: -100%
    bottom: 0
    top: 50px
    opacity: 0
    padding-top: 35px
    overflow: auto
    z-index: 100
    box-shadow: 22px 10px 30px 11px rgba(38, 45, 51, 0.7)
    transition: all 0.4s
    @media (max-width:992px)
      width: 100vw
      box-shadow: none
    &--visible
      // display: block
      left: 0
      // right: 0
      opacity: 0.97
      transition: all 0.4s
      .navbar-menu__link
        @media (max-width:992px)
          font-size: 18px
          line-height: 24px
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1137px
    list-style: none
    padding: 18px 0
    margin: 0 auto
    &__item-dd
      margin-bottom: 15px
    &--dropdown
      flex-direction: column
      @media (min-width:992px)
        align-items: flex-start
        padding: 0 25px 0 65px
    &__link
      text-decoration: none
      color: $light
      font-weight: bold
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.5px
      text-transform: uppercase
      &::after
        content: ""
        display: block
        width: 0%
        height: 1px
        background-color: $light

.icon-menu
  display: block
  position: relative
  width: 18px
  height: 18px
  cursor: pointer
  z-index: 5
  background: #fff
  span,
  &::before,
  &::after
    content: ""
    transition: all 0.3s ease 0s
    left: 0px
    position: absolute
    width: 100%
    height: 2px
    background-color: #BCBFC2
  &::before
    top: 0px
  &::after
    bottom: 0px
  span
    top: calc(50% - 1px)
    width: 80%
.menu-open
  span
    transform: scale(0)
  &::before
    transform: rotate(-45deg)
    top: calc(50% - 1px)
  &::after
    transform: rotate(45deg)
    bottom: calc(50% - 1px)
