.recommended
  background-color: $text-grey-100
  padding-top: 30px
  height: 475px
.rec
  &-top
    display: flex
    align-items: flex-start
    justify-content: space-between
    background: #30363D
    color: $light
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 25px
    border-radius: 10px
    padding: 25px 25px 30px
    margin-bottom: 30px
    max-height: 130px
    &__item
      display: flex
      align-items: center
      &:not(:last-child)
        &:after
          content: ''
          border-right: solid 1px
          height: 75px
          color: $text-grey-85          
          margin: 0 25px
    &__text
      max-width: 154px 
      margin: 0 15px 0 0
  &-bottom
    display: flex
    background: $light
    border-radius: 10px
    overflow: hidden
    margin-bottom: -285px
.tabs
  &-content
    position: relative
    min-width: 877px
    height: 570px
    background-image: url(../img/recommended/mountain-river.png)    
    background-size: cover
    padding: 55px 224px 95px 55px
    z-index: 0
    &:before 
      content: ""
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(64, 48, 61, 0.35)
      z-index: -1
    &__title
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 50px
      color: $light
      margin: 25px 0 40px
.author
  display: flex
  align-items: center
  &__tabs
    margin-bottom: 145px
  &__info
    display: flex
    flex-direction: column
  &__avatar
    border-radius: 50px
    margin-right: 10px    
  &__name
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: $light
    mix-blend-mode: normal
    opacity: 0.85
    margin-bottom: 2px
  &__metier
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light
    opacity: 0.4
.destinations
  font-weight: bold
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  color: #4592FF  

.tabs
  &-aside
    padding: 0
    margin: 0
    list-style: none
    &__item
      cursor: pointer
      &--active
        background-color: #F5F5F5
      &--hero
        padding: 20px 25px 19px
        font-weight: bold
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.5px
        text-transform: uppercase
        color: $text-grey-100
      &:not(:last-child)
        padding: 17px 25px 19px
        border-bottom: solid 1px #D9DADB
      &:last-child
        padding: 19px 25px 28px      
    &__title
      font-weight: bold
      font-size: 12px
      line-height: 15px
      letter-spacing: 0.5px
      text-transform: uppercase
      margin: 0 0 8px 0
      &--food
        color: #3BBDC4
      &--cars
        color: #6E99AE
      &--movies
        color: #AC8EE3
      &--NFL
        color: #FFA34D
      &--tech-reviews
        color: #3DC47E
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      &--wrap
        display: flex
        align-items: center
.icon
  &-play
    margin-left: 9px
  &-path
    position: absolute
    top: 99px
    right: 0
